<div class="home-container" fxFlexFill>

  <swiper
      [direction]="'vertical'"
      [slidesPerView]="1"
      [spaceBetween]="30"
      [mousewheel]="true"
      [pagination]="{
          clickable: true
      }"
      class="swiper"
  >
    <ng-template swiperSlide>
      <div fxFlex="33" class="info-box">
          <h1>KIM SEUNG BOO</h1>
          <div class="name-box" fxLayout="row" fxLayoutAlign="center center">
            김 승 부
          </div>
        <mat-divider></mat-divider>
        <span class="info-text" *ngFor="let info of infoList">
          {{ info }}
        </span>
      </div>

      <div fxFlex="33" class="image-box">
      </div>

      <div fxFlex="31" fxLayout="column" fxLayoutAlign="center end" fxLayoutGap="5rem">
        <div class="carrer-box">
          <span class="carrer-title">드라마</span>
          <mat-divider></mat-divider>
          <span class="carrer-text" *ngFor="let drama of dramaList">
            {{ drama }}
          </span>
        </div>

        <div class="carrer-box">
          <span class="carrer-title">단편 영화</span>
          <mat-divider></mat-divider>
          <span class="carrer-text" *ngFor="let movie of movieList">
            {{ movie }}
          </span>
        </div>

        <div class="move-slide-box">
          <mat-icon>
            keyboard_double_arrow_down
          </mat-icon>
          <span>프로필 사진 슬라이드로 이동</span>
        </div>
      </div>
    </ng-template>
    <ng-template class="second-slide" swiperSlide>
      <swiper 
          [navigation]="true"
          [effect]="'coverflow'"
          [loop]="true"
          [grabCursor]="true"
          [centeredSlides]="true"
          [slidesPerView]="'auto'"
          [coverflowEffect]="{
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true
          }"
          [pagination]="true"
          class="mySwiper"
        >
          <ng-template class="second-swiper-slide" swiperSlide *ngFor="let imgPath of imgList">
            <img [src]="imgPath">
          </ng-template>
        </swiper>
    </ng-template>
    <ng-template swiperSlide>
      
    </ng-template>
  </swiper>
  
</div>