/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Do Hyeon", "Helvetica Neue", sans-serif;
}

.mat-body,
.mat-body-1,
.mat-typography .mat-body,
.mat-typography .mat-body-1,
.mat-typography {
    font: 400 14px/20px "Do Hyeon", sans-serif;
    letter-spacing: normal;
}